<div class="jumbotron jumbotron-fluid bg-dark text-white">
    <div class="container banner">
        <div class="content">
            <h1 class="display-4">Resumen Angular</h1>
            <p class="lead">Modulos, Componentes, Directivas, Pipes y algo más...</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="logo_angular">
        </div>
    </div>
</div>
<div class="container">
    <div class="cinta">
        <div class="title">¿Que es angular?</div>
    </div>
    <div class="content-page">
        <p>
            Angular es un Framework (Un marco de trabajo) para la creación de aplicaciones web de una sola página o también conocidas como SPA. Angular separa totalmente el Fronted y el Backend de una aplicación, evita el código repetitivo y esta basado en la arquitectura
            MVC. Angular fue creado por Google y continúa añadiendo nuevas características en cada nueve versión. Angular esta totalmente integrado con TypeScript como lenguaje de programación.
        </p>
    </div>
    <div class="cinta">
        <div class="title">El CLI de Angular</div>
    </div>
    <div class="content-page">
        <p>El CLI de angular es una interfaz que permite al desarrollador a crear partes de nuestra aplicacion, como modulos, componentes, directivas, etc., en cuestion de segundos. Tambien ayuda a la creación inicial de nuestro proyecto y genera archivos
            y carpetas debidamente organizados.
        </p>
        <p>
            Para usar el CLI de Angular deberemos instalar Angular, y como prerequisito debemos tener instalado NodeJS en el equipos.
        </p>
        <p>
            La forma de instalar el CLI de Angular es la siguiente:
        </p>
        <div class="img-code">
            <img src="../assets/img/angular-cli.png" alt="Modulo Angular">
        </div>
        <p>
            Una vez instalada la CLI de Angular, podemos usar el comando <b>ng</b> para crear modulos, componentes, directivas, etc. A continuacion una lista de los comandos que podemos usar en la CLI de Angular:
        </p>
        <div class="img-code">
            <img src="../assets/img/angular-cli2.png" alt="Modulo Angular">
        </div>

    </div>
    <div class="cinta">
        <div class="title">Estructura de un proyecto en angular</div>
    </div>
    <div class="content-page">
        <p>
            Angular es un conjunto de carpetas y archivos ordenados de forma que podamos entender la arquitectura de angular, a continuacion se muestra una imagen con los archivos y carptetas que se crean al crear un proyecto en angular:
        </p>
        <div class="img-code">
            <img src="../assets/img/angular-arch.png" alt="Modulo Angular">
        </div>
        <p>
            La carpeta <b>e2e</b> sirve para crear escenarios de pruebas para nuestra aplicacion angular. La carpeta <b>node_modules</b> es el corazon de toda aplicacion de angular, nos provee de las distintas librerias y modulos para que funcione nuestra
            app. La carpete <b>src</b> es nuestra aplicacion angular en si.
        </p>
    </div>
    <div class="cinta">
        <div class="title">Elementos basicos de Angular</div>
    </div>
    <div class="content-page">
        <p>
            Angular nos provee de muchos elementos para la creación de nuestra pagina web, entre ellos tenemos:
        </p>
        <ul class="list-group lista">
            <li class="list-group-item">Modulos</li>
            <li class="list-group-item">Componentes</li>
            <li class="list-group-item">Directivas</li>
            <li class="list-group-item">Pipes</li>
        </ul>
        <p>
            Estos no son los únicos elementos que nos provee angular, pues, tengamos en cuenta que Angular es un Framework potente para el desarrollo web, pero teniendo conocimientos de estos elementos básicos, podremos crear nuestra primera aplicación totalmente
            funcional.
        </p>
    </div>
    <div class="cinta">
        <div class="title">Módulos</div>
    </div>
    <div class="content-page">
        <p>
            Los módulos al igual que cualquier otro elemento en Angular son clases que tienen una estructura especifica que hay que respetar para que angular lo trate como tal.
        </p>
        <p>
            Los módulos no se apartan de este concepto, son clases que poseen un decorador que convierte una sencilla clase en un módulo, componente, directiva o pipe. Los módulos pueden ser vistos como almacenes donde podremos tener a disposición los componentes,
            servicios o incluso otros módulos que nuestra aplicación web necesite a lo largo de su desarrollo. Una aplicación de Angular depende de un modulo principal que es llamado Modulo Raíz y del cual pueden enlazarse otros módulos que contengan
            sus propios componentes y servicios. Se considera buena práctica dividir una aplicación web de Angular en distintos Módulos y así armar un árbol jerárquico de módulos considerando al modulo principal como nodo principal del árbol.
        </p>
        <p> La forma de crear un Modulo en Angular es usando el cli de angular:</p>
        <div class="code-zone bg-dark">
            <span id="entry-code">>>> </span>ng generate module <span id="entry-code">nombre del modulo</span>
        </div>
        <p>
            Los módulos tienen la siguiente sintaxis:
        </p>
        <div class="img-code">
            <img src="../assets/img/angular_module.png" alt="Modulo Angular">
        </div>
        <p>
            El módulo raíz por lo general es llamado app.module.ts, los demás módulos que lleguen a ser hijas del módulo raíz deberán colocarse en la propiedad imports del modulo principal, otro requisito es que los módulos hijos exporten explícitamente su clase
            para que puedan ser reconocidos por el módulo raíz.
        </p>

    </div>

    <div class="cinta">
        <div class="title">Componentes</div>
    </div>
    <div class="content-page">
        <p>
            Los componentes son los bloques más básicos de angular, son aquellos que se encargan de mostrar la parte visual de la aplicación web y de proporcionar funcionalidad (lógica) a su correspondiente elemento visual. En pocas palabras un componente consta
            primordialmente de lo siguiente:
        </p>
        <ul class="list-group lista">
            <li class="list-group-item">Un template HTML (Vista)</li>
            <li class="list-group-item">Un archivo de lógica TypeScript (Controlador)</li>
        </ul>
        <p>
            Opcionalmente un componente puede enlazar uno o varios archivos CSS o SCSS para dar estilos adicionales al template.
        </p>
        <p>
            Al igual que un módulo, un componente es una clase de typescript que lleva un decorador Component, un componente en angular se puede crear mediante el CLI de angular como sigue:
        </p>
        <div class="code-zone bg-dark">
            <span id="entry-code">>>> </span>ng generate component <span id="entry-code">nombre del componente</span>
        </div>
        <p>
            La estructura de un componente es como se muestra:
        </p>
        <div class="img-code">
            <img src="../assets/img/angular-component.png" alt="Modulo Angular">
        </div>
        <p>
            Un componente tiene tres propiedades, el selector define la etiqueta donde será renderizado el template; templateUrl que es en si la plantilla HTML de la página web creada como un archivo externo, esta plantilla puede ser incrustada en el mismo archivo
            usando la propiedad template en vez de templateUrl, pero no es recomendable crear la plantilla de esta forma; opcionalmente se puede usar la propiedad styles para indicar una lista de archivos de estilo para la plantilla, esta opción es opcional
            ya que puede usarse Angular Material o frameworks como Bootstrap para darle estilos a la plantilla.
        </p>
    </div>
    <div class="cinta">
        <div class="title">Directivas</div>
    </div>
    <div class="content-page">
        Angular tiene la característica de controlar en DOM de la pagina web, esto lo logra gracias a las directivas y a los pipes. En primer lugar, tenemos las directivas estructurales que son directivas a nivel de etiquetas HTML, estas directivas nos permiten
        añadir, eliminar o manipular elementos del DOM. Estas directivas son fácilmente reconocibles ya que tienen como prefijo el símbolo (*). Algunas de las directivas estructurales que nos provee angular son:
    </div>
    <ul class="list-group lista">
        <li class="list-group-item">ngIf</li>
        <li class="list-group-item">ngFor</li>
    </ul>
    <div class="sub-title">
        Directiva ngIf
    </div>
    <p>
        La directiva ngIf crea o destruye la etiqueta y a sus hijos donde es empleada, esto simula la ocultación de un elemento en la página HTML.
    </p>
    <p>
        A continuacion se presenta un ejemplo del uso de <b>ngIf</b>. El ejemplo consiste en ocultar y mostrar un mensaje, para esto se usara un dos botones. Para esto usaremos el siguiente codigo HTML:
    </p>
    <div class="img-code">
        <img src="../assets/img/angular-ngif.png" alt="Modulo Angular">
    </div>
    <p>
        Notar el uso de la directiva <b>ngIf</b>, estad debe como atributo en la etiqueta HTML y su valor debe ser una variable o expresion que genere uno de dos valores booleanos (true o false).
    </p>
    <p>
        En app.component.ts tenemos lo siguiente:
    </p>
    <div class="img-code">
        <img src="../assets/img/angular-appcomponent.png" alt="Modulo Angular">
    </div>
    <p>
        En el app.component se ha establecido una variable con el nombre <b>estado</b> de tipo <b>boolean</b>, esta variable sera la que se use en el ngIf para poder mostrar u ocultar la alerta.
    </p>
    <div class="box-example">
        <div class="buttons">
            <button class="btn btn-dark" (click)="estado=true">Mostrar</button>
            <button class="btn btn-dark ml-1" (click)="estado=false">Ocultar</button>
        </div>
        <div class="alert alert-success" *ngIf="estado" role="alert">
            Esta es una simple alerta
        </div>
    </div>
    <p>
        Este es el uso mas simple que se puede dar a la directiva ngIf, la forma de usarlo queda a imaginacion de cada desarrollador.
    </p>
    <div class="sub-title">
        Directiva ngFor
    </div>
    <p>
        La directiva <b>ngFor</b> es el típico bucle <b>for</b> en otros lenguajes de programación, la directiva se aplica a una etiqueta HTML y esta se replica tantas veces sea necesario.
    </p>
    <p>A continuación se mostrara un ejemplo sencillo usando esta directiva. Supongamos que tenemos el siguiente array de nombre:</p>
    <div class="code-zone bg-dark" style="width: 100% !important;">
        nombres:string[] = ['Andres Galarza','Andrea Piguave','Jose Enrique','Jimmy Gilces','Eduardo Argudo','Ricardo Vergara']
    </div>
    <p>
        Si quisieramos mostrar una lista HTML con estos nombres, podriamos hacerlo de la siguiente forma:
    </p>
    <div class="img-code">
        <img src="../assets/img/angular-list.png" alt="Lista Angular">
    </div>
    <p>Pero obviamente esta forma de hacerlo no es dinamica, imagine que el array crece, se le añaden mas nombres, es mas imagine que esta lista pertenece a informacion de miles de usuarios obtenidos desde un Web Service, API Rest, etc., claramente esta
        forma de hacerlo no es la mas eficiente, para evitar esto realizamos iteraciones sobre dicho array y mediante la interpolacion procedemos a mostrar el contenido de dicho arreglo.
    </p>
    <p>Para este ejemplo usaremos el array estatico anteriormente creado, este arreglo lo crearemos en nuestro <b>app.component.ts</b>:</p>
    <div class="img-code">
        <img src="../assets/img/angular-ngfor.png" alt="Lista Angular">
    </div>
    <p>
        Usando <b>ngFor</b> basta crear una sola etiqueta HTML para imprimir todos los nombres de la lista, esto lo haremos de la siguiente forma:
    </p>
    <ul class="list-group lista">
        <li class="list-group-item" *ngFor="let nombre of nombres">{{nombre}}</li>
    </ul>
    <p>
        Se puede observar la gran potencia de esta directiva.
    </p>
    <div class="cinta">
        <div class="title">Pipes</div>
    </div>
    <div class="content-page">
        <p>
            Los pipes son propiedades que permiten modificar la data de forma visual, es decir no cambian lógicamente la data, sino que la modifica visualmente. Ejemplo de pipes son aquellos que convierten una cadena a mayúsculas o minúsculas, o aquellos que dan
            formato a una fecha o a un número.
        </p>
        <p>
            Angular nos provee de algunos pipes prefabricados, a continuación, algunos de ellos:
        </p>
        <ul class="list-group lista">
            <li class="list-group-item">uppercase</li>
            <li class="list-group-item">lowercase</li>
            <li class="list-group-item">date</li>
            <li class="list-group-item">decimal</li>
            <li class="list-group-item">async</li>
            <li class="list-group-item">json</li>
        </ul>
        <p>
            Los pipes son usados a nivel de HTML. Por ejemplo, suponga que tenemos una variable <b>nombre</b> en nuestro controlador <b>app.component.ts</b>:
        </p>
        <div class="img-code">
            <img src="../assets/img/angular-pipe.png" alt="Lista Angular">
        </div>
        <p>
            Si mostramos esto en nuestro documento html, tendriamos que hacer lo siguiente:
        </p>
        <div class="img-code">
            <img src="../assets/img/angular-pipe2.png" alt="Lista Angular">
        </div>
        <p>
            Con esto obtenemos el siguiente resultado:
        </p>
        <div class="code-zone bg-dark">
            <h1> {{ nombre }} </h1>
        </div>

        <p>
            Si quisieramos convertir todos los caracteres a mayuscula podriamos hacerlo usando el pipe uppercase de la siguiente forma:
        </p>
        <div class="img-code">
            <img src="../assets/img/angular-pipe3.png" alt="Lista Angular">
        </div>
        <p>
            El resultado de aplicar esto es el siguiente:
        </p>
        <div class="code-zone bg-dark">
            <h1> {{ nombre | uppercase }} </h1>
        </div>
        <p>Notar que para hacer uso de cualquier pipe, es necesario usar el operador pipe (|).</p>
        <p>Angular tambien nos permite crear nuestros propios pipes, para esto se debera usar el CLI de Angular, con la siguiente orden:
        </p>
        <div class="code-zone bg-dark">
            <span id="entry-code">>>> </span>ng generate pipe <span id="entry-code">nombre del pipe</span>
        </div>
    </div>
    <div class="cinta">
        <div class="title">Componente Externo</div>
    </div>
    <div class="content-page">
        <app-cube>

        </app-cube>
    </div>
</div>